GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
GOOGLE_REDIRECT_URI="your-google-redirect-uri"
GCS_BUCKET_NAME=
GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_COMPUTE_ENDPOINT=

DATABASE_PATH=./app/db.sqlite3

# only for local development, in prod, replace this with the actual frontend base url
FRONTEND_BASE_URL=http://localhost:5173

ACCESS_TOKEN_SECRET=1234567890dsadhsa   
REFRESH_TOKEN_SECRET=1234567890u123dalsda